
@font-face {
    font-family: 'GeistMonoBold';
    src: url('fonts/GeistMono-SemiBold-BF65694d056d1c5.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#mainHeader {
    font-family: 'GeistMonoBold';
}

#contactName {
    font-family: 'GeistMonoBold';
}

body {
    background-color: black;
    color:white;
}
